*{
    margin: 0;
    padding: 0;
}
.bg-first{
    background-color: #0F172A;
}

.bg-second{
    background-color: #33415580;
}

.bg-third{
    background-color: #38BDF8;
}
.bg-fourth{
    background-color: #94a3b8;
}


.txt-first{
    color: #0F172A;
}

.txt-second{
    color: #33415580;
}

.txt-third{
    color: #38BDF8;
}
.txt-fourth{
    color: #94a3b8;
}

body{
    background-color: #0F172A;
}


.section-header{
    width: 100%;
    position: relative;
    padding: 40px 0;
    text-transform: uppercase;
    height: 150px;
    margin-bottom: 40px;
}
.section-header > .section-header-inner-text{
    position: absolute;
    display: inline-block;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.03);
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1rem;
    
}
.section-header > .section-header-display-text{
    position: absolute;
    display: inline-block;
    font-size: 1.5rem;
    color: #38BDF8;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section-header > span.bottom-bar{
    background-color: #38BDF8;
    height: 4px;
    width: 100px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.section-header > span.bottom-bar-outer{
    background-color: rgba(255, 255, 255, 0.05);
    height: 4px;
    width: 250px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}







header{
    width: 100%;
    z-index: 10000000000;
}

.cus-nav-link:hover{
    color: #fff;
}
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
}

.banner-img-container{
    width: 100%;
    height: 100%;
    position: absolute;
}

.banner-img{
    width: 100%;
    height: 100%;
    background-image: url('../asset/portfolio_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-img::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}
.banner-content{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 300px;
    position: absolute;
    z-index: 100;
}

.profile-photo-container{
    height: 150px;
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #33415580;
}












.skill-item{
    box-sizing: border-box;
    padding: 20px;
/*     background-color: red; */
}
.skill-item > .skill-item-header{
    color: #8b5cf6;
    width: 100%;
    border-bottom: 2px solid #33415580;
    padding-bottom: 3px;
}
.skill-item > .skill-item-field{
    width: 100%;
}
