*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.bg-first{
    background-color: #0F172A;
}

.bg-second{
    background-color: #33415580;
}

.bg-third{
    background-color: #38BDF8;
}
.bg-fourth{
    background-color: #94a3b8;
}
.bg-fifth{
    background-color: #8b5cf6;
}


.txt-first{
    color: #0F172A;
}

.txt-second{
    color: #33415580;
}

.txt-third{
    color: #38BDF8;
}
.txt-fourth{
    color: #94a3b8;
}
.txt-fifth{
    color: #8b5cf6;
}

.nav-scrolled{
    background-color: #334155 !important;
}

html {
    scroll-behavior: smooth;
  }

body{
    background-color: #0F172A;
}


.section-header{
    width: 100%;
    position: relative;
    padding: 40px 0;
    text-transform: uppercase;
    height: 150px;
    margin-bottom: 40px;
}
.section-header > .section-header-inner-text{
    position: absolute;
    display: inline-block;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.03);
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1rem;
    text-align: center;
}
.section-header > .section-header-display-text{
    position: absolute;
    display: inline-block;
    font-size: 1.5rem;
    color: #38BDF8;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section-header > span.bottom-bar{
    background-color: #38BDF8;
    height: 4px;
    width: 100px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.section-header > span.bottom-bar-outer{
    background-color: rgba(255, 255, 255, 0.05);
    height: 4px;
    width: 250px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* Cursor */
.typed-cursor {
    color: #38BDF8;
}

/* If fade out option is set */
.typed-fade-out {
}

#interests{
    display: inline-block;
    width: 200px;
    color: #8b5cf6;
    text-align: left;
}





header{
    width: 100%;
    z-index: 10000000000;
}

.cus-nav-link:hover{
    color: #fff;
}
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
}

.banner-img-container{
    width: 100%;
    height: 100%;
    position: absolute;
}

.banner-img{
    width: 100%;
    height: 100%;
    background-image: url('../asset/portfolio_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-img::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}
.banner-content{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 220px;
    width: 400px;
    position: absolute;
    z-index: 100;
}

.profile-photo-container{
    height: 150px;
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #33415580;
}












.skill-item{
    box-sizing: border-box;
    padding: 20px;
/*     background-color: red; */
    margin-bottom: 20px;
}
.skill-item > .skill-item-header{
    color: #8b5cf6;
    width: 100%;
    border-bottom: 2px solid #33415580;
    padding-bottom: 3px;
    font-size: 1.5rem;
}
.skill-item > .skill-item-field{
    width: 100%;
}
.skill-item > .skill-item-field > .sub-skill{
    position: relative;
    width: 100%;
    display: block;
    color: #fff;
    margin: 20px 0;
    height: 40px;
}
.skill-item > .skill-item-field > .sub-skill > .skill-subject{
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    text-transform: uppercase;
}
.skill-item > .skill-item-field > .sub-skill > .skill-percentage{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    font-size: .8rem;
}
.skill-item > .skill-item-field > .sub-skill > .skill-progress-bar-indicator{
    position: absolute;
    display: block;
    height: 3px;
    background-color: #38BDF8;
    bottom: 0;
    z-index: 10;
}
.skill-item > .skill-item-field > .sub-skill > .skill-progress-bar-limit{
    position: absolute;
    display: block;
    height: 3px;
    background-color: #33415580;
    bottom: 0;
    width: 100%;
    z-index: 0;
}




.exp-and-edu{
    padding: 40px 0;
}

.exp-title,
.edu-title{
    font-size: 2.5rem;
    text-transform: capitalize;
}

.exp-container, .edu-container{
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
}

.exp-container > .exp-container-side-bar,
.edu-container > .edu-container-side-bar{
    width: 5px;
    height: 100%;
    background-color: #33415580;
    position: absolute;
    top: 0;
    left: 0;
}
.exp-container > .exp-item,
.edu-container > .edu-item{
    position: relative;
    margin-bottom: 20px;
}
.exp-container > .exp-item::before,
.edu-container > .edu-item::before{
    display: block;
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #334155;
    top: 15px;
    left: -30px;
}
.exp-container > .exp-item:hover::before,
.edu-container > .edu-item:hover::before{
    background-color: #38BDF8;
}
.exp-container > .exp-item > span,
.edu-container > .edu-item > span{
    display: block;
}
.exp-container > .exp-item > span:nth-child(1),
.edu-container > .edu-item > span:nth-child(1){
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #33415580;
}
.exp-container > .exp-item:hover > span:nth-child(1),
.edu-container > .edu-item:hover > span:nth-child(1){
    color: #fff;
}
.exp-container > .exp-item > span:nth-child(2),
.edu-container > .edu-item > span:nth-child(2){
    font-size: 1rem;
    text-transform: capitalize;
    color: #8b5cf6;
}
.exp-container > .exp-item > span:nth-child(3),
.edu-container > .edu-item > span:nth-child(3){
    font-size: 1rem;
    text-transform: capitalize;
    color: #33415580;
}
.exp-container > .exp-item:hover > span:nth-child(3),
.edu-container > .edu-item:hover > span:nth-child(3){
    color: #fff;
}










.my-work{
    width: 100%;
}
ul.work-list{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    justify-content: space-between;
}
ul.work-list > li{
    padding: 5px 25px;
    border: 2px solid #fff;
    border-radius: 45px;
}
ul.work-list > li:hover{
    border: 2px solid #8b5cf6;
    background-color: #fff;
}
ul.work-list > li > button{
    color: #fff;
    text-transform: capitalize;
    background-color: transparent;
    border: none;
}
ul.work-list > li:hover > button{
    color: #8b5cf6;
}
.work-container{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 700px;
}
.work-container > .work-item{
    height: 100%;
    width: 100%;
}



.contact p:nth-child(2){
    color: #fff;
    text-align: justify;
    font-size: 1rem;
}

.contact-details-container{
    width: 100%;
    margin-top: 40px;
    position: relative;
}
.contact-details-container > img{
    height: 100%;
    width: 80%;
    position: absolute;
    opacity: .1;
}

.contact-details-container > .contact-detail-item{
    margin: 20px 0;
    position: relative;
    color: #fff;
    padding-left: 30px;
    font-size: 1rem;
    
}
.contact-details-container > .contact-detail-item > .contact-logo{
    position: absolute;
    left: 0;
    color: #8b5cf6;
}
.contact-details-container > .contact-detail-item > .contact-title{
    font-weight: 900;
    text-transform: capitalize;
}

.contact-details-container > .contact-detail-item:nth-child(1) > .contact-info{
    text-transform: capitalize;
}
.contact-details-container > .contact-detail-item:nth-child(1) > .contact-info > span{
    display: block;
}
.contact p:nth-child(4){
    color: #38BDF8;
    text-align: left;
    font-size: 1rem;
    text-transform: capitalize;
    margin-top: 40px;
}







.thanks{
    width: 100%;
}
.thanks-texter{
    text-align: center;
    width: 100%;
    font-size: 3rem;
    text-transform: uppercase;
    color: #38BDF8;
    text-shadow:
    0 0 5px #38BDF8,
    0 0 10px #38BDF8,
    0 0 20px #38BDF8,
    0 0 40px #8b5cf6,
/*     0 0 80px #8b5cf6,
    0 0 90px #8b5cf6,
    0 0 100px #8b5cf6, */
    0 0 150px #8b5cf6;
    margin: 0 10px;
    display: inline-block;
}




footer{
    padding: 30px 0;
}


footer p{
    color: #fff;
    text-align: left;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.social-icon-container{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
}

.social-icon-container > .social-icon{
    margin-left: 30px;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 50%;
}

.social-icon-container > .social-icon:hover{
    background-color: #38BDF8;
}

.social-icon-container > .social-icon:nth-child(2){
    padding: 10px 20px;
}
.social-icon-container > .social-icon > a{
    font-size: 1.5rem;
    color: #8b5cf6;
}
.social-icon-container > .social-icon:hover > a{
    color: #fff;
}


@media (max-width: 991px){
    .work-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 1000px;
    }

    
    footer p{
        text-align: center;
    }
    .social-icon-container{
        width: 100%;
        justify-content: space-around;
    }
    .social-icon-container > .social-icon{
        margin: 0;
    }
}

@media (max-width: 760px){
    ul.work-list{
        width: 100%;
    }
    
}

@media (max-width: 600px){
    ul.work-list{
        width: 50%;
        flex-direction: column;
    }
    ul.work-list > li{
        text-align: center;
        margin-bottom: 20px ;
    }
    .work-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        height: 1300px;
    }
    footer p{
        text-align: center;
    }
    
}

@media (max-width: 450px){
    .work-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        height: 3300px;
    }

    footer p{
        text-align: center;
    }
    
}